$color-primary: #3aa3e3;
$color-success: #66bb6a;
$color-error: #e75650;
$color-warning: #ffc82c;
$color-info: #9dd1f1;
$color-grey: #f4f4f4;

$text-color: #484746;
$bg-color: #f8f8f8;

$border-radius: 2px;

$font-family: Helvetica, sans-serif;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

$border-color: #f2f2f2;
